html {
    scroll-snap-type: y proximity;

    width: 100vw;
}

body {
    padding-top: 50px;
    overflow-x: hidden;

    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: white;
}

.home_button {
    background-color: #212529;
    color: #dadce0;
    padding: 30px;
    border-radius: 30px 30px 30px 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 2.5em;
    border-style: solid;
    border-color: #212529;
    border-width: 5px;
}

.home_button:hover {
    background-color: #dadce0;
    color: #212529;

}

.btn {
    position: relative;
    min-height: 40px;
}

.btn a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 40px;
}

.navbar {
    opacity: 0.9;
    top: 0;
    position: fixed;
    min-width: 100vw;
    z-index: 999;
}

.page {
    scroll-snap-align: start;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
}

.even {
    background-color: #EEF0F5;
}

.odd {
    background-color: #dadce0;
}

.scroll:hover {
    cursor: pointer;
}

/* ----------------- */
/* Home Page Start */
.landing-text {
    font-size: 5em;
}

.la-img {
    width: 70%;
}

.memoji-img {
    width: 50%;
}

.landing-box {
    justify-content: start;
}


.welcome-box {
    margin-top: 10vh;
}

/* Home Page End */
/* ----------------- */

/* ----------------- */
/* About Me Page Start */

.me-box {
    margin-top: 10vh;
}

.me-box span {
    font-size: 1.4em;
}

/* ----------------- */
/* About Me Page End */


/* ----------------- */
/* Project Page Start */

.project-card {
    border: 1px solid rgb(33, 37, 41);
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
    transition: transform 0.15s;
}

.project-card:hover {
    transform: scale(1.1);
}

.lead {
    font-size: 1.6em;
}

.project-card h4,
.project-card p {
    color: rgb(33, 37, 41);
}

.interval {
    margin: 10px 0 0 0 !important;
}

.navbar-toggler {
    margin-right: 10px !important;
}

.card-footer {
    margin-top: 15px;
    border-top: 1px solid rgb(33, 37, 41);
}

.project-card p {
    margin-bottom: auto;
}

.image-wrapper {
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-wrapper {
    min-height: 150px;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
}


/* Project Page End */
/* ---------------- */

/* ---------------- */
/* Skill Page Start */

.skill-container {
    max-width: 60vw;
}

.skill-box {
    transition: transform 0.15s, box-shadow 0.15s;
}

.skill-box:hover {
    transform: scale(1.3);
}

.skill-box img {
    height: 10vh;
    object-fit: contain;
}



.skill-name {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 20px;
}

/* Skill Page End */
/* -------------- */

/* ---------------- */
/* Contact Page Start */


/* Toaster */
#contact-page {
    padding-bottom: 150px !important;
}

#toast-box {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

#toast-box .toast {
    width: 300px;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-weight: 500;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: black;
    z-index: 12;
    position: relative;
    animation: fadeIn 0.25s linear forwards, fadeOut 0.25s 2.75s linear forwards;
}

#toast-box .toast::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    animation: anim 3s linear forwards;
}

#toast-box .toast.invalid::after {
    background: orange;
}

#toast-box .toast.valid::after {
    background: green;
}


#toast-box .toast i {
    margin: 0px 10px;
    font-size: 2rem;
}





/* Contact Page End */
/* -------------- */



/* ------------------ */
/* For Mobile Devices */
@media (min-width : 319px) and (max-width : 480px) {



    .home_cv {
        font-size: 1.2em;
        padding: 15px;
    }

    html {
        scroll-snap-type: none;
    }

    .navbar {
        position: fixed !important;
        top: 0 !important;
    }

    /* Welcome Page Start */
    /* ------------------ */

    .landing-box {
        justify-content: center;
    }

    .lead {
        font-size: 1em;
    }

    .landing-text {
        font-size: 2em;

    }

    /* Welcome Page End */
    /* ---------------- */

    /* ----------------- */
    /* About Me Page Start */
    .me-img {
        width: 80%;
    }

    .me-box {
        justify-content: space-between;
    }

    .me-box span {
        font-size: 1em;
    }

    .me-text {
        text-align: center;
    }

    .me-box {
        margin-top: 1.5vh;
    }

    /* About Me Page End */
    /* ----------------- */


    .welcome-box {
        margin-top: 10vh;
    }

    /* ---------------- */
    /* Skill Page Start */

    .skill-container {
        max-width: 100vw;
    }

    /* .skill-img{
        height: 8vh; 
        
    } */

    .skill-box img {
        height: 8vh;
        object-fit: contain;
    }




    /* Skill Page End */
    /* -------------- */

    /* Contact Page Start */
    /* ------------------ */

    #contact-page {
        padding-bottom: 50px !important;
    }

    #toast-box {
        width: 100%;
        right: 0;
        left: 0;
        bottom: 0;
        /* background-color: rgba(255, 0, 0, 0.2); */
    }

    #toast-box .toast {
        width: 100%;
    }

    /* ---------------- */
    /* Contact Page End */
}


/* For Tablets */
@media (min-width : 480px) and (max-width: 825px) {
    html {
        scroll-snap-type: none;
    }

    .navbar-brand,
    .nav-link,
    .dropdown-item {
        font-size: 1.5em;
    }

    .navbar {
        position: fixed;
        top: 0;
    }

    .downloadCV {
        margin-bottom: 50px;
    }


    .landing-text {
        font-size: 5em;
    }

    .landing-box {
        justify-content: center;
    }

    /* Home Page End */
    /* ------------------- */

    /* ------------------- */
    /* About Me Page Start */
    .me-text {
        text-align: center;
    }

    .me-box {
        margin-top: 3vh;
    }

    .me-box span {
        font-size: 1.5em;
    }

    .wrapper img {
        width: 80%;
    }

    .card-img-top {
        max-height: 10vh;
        max-height: 15vh;
    }

    /* About Me Page End */
    /* ----------------- */

    /* ---------------- */
    /* Skill Page Start */
    .skill-list {
        flex-direction: row;
        justify-content: space-between;
    }

    .skill-name {
        font-size: 1.6em;
    }

    .skill-box img {
        height: 8vh;
        object-fit: contain;
    }

    /* Skill Page End */
    /* -------------- */

    /* Contact Page Start */
    /* ------------------ */


    #toast-box {
        width: 100%;
        right: 0;
        left: 0;
        bottom: 0;
    }

    #toast-box .toast {
        width: 100%;
        font-size: 1.5em;
    }

    /* ---------------- */
    /* Contact Page End */

    .form-control {
        color: red;
    }
}




/* Animations */

@keyframes anim {
    100% {
        width: 0%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }

    0% {
        opacity: 100%;
    }
}