html {
  scroll-behavior: smooth;
}

#root, .app-container {
  width: 100%;         
  margin: 0;
  padding: 0;
  overflow-x: hidden;  
}

.app-container {
  height: 100vh;              
  overflow-y: scroll;         
  scroll-snap-type: y proximity; 
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.app-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

#root {
  margin: 0;
  text-align: center;
  width: 100vw;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.row{
  margin: 0;
  padding: 0;
}


.form-label{
  padding-left: 30px !important; 
}

.project-card {
  border: 1px solid rgb(33, 37, 41);
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
  transition: transform 0.15s;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card h4,
.project-card p {
    color: rgb(33, 37, 41);
}

.interval {
    margin: 10px 0 0 0 !important;
}

.navbar-toggler {
    margin-right: 10px !important;
}

.card-footer {
    margin-top: 15px;
    border-top: 1px solid rgb(33, 37, 41);
}

.project-card p {
    margin-bottom: auto;
}

.image-wrapper {
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-wrapper {
    min-height: 150px;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
}


.home_button {
    background-color: #212529;
    color: #dadce0;
    padding: 30px;
    border-radius: 30px 30px 30px 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 1em;
    border-style: solid;
    border-color: #212529;
    border-width: 5px;
}

.home_button:hover {
    background-color: #dadce0;
    color: #212529;
}

a {
  text-decoration: none !important;
}



.page {
  scroll-snap-align: start;   
  min-height: 100vh;          
  padding-bottom: 0;
}

.page div{
  padding-left: 20px;
  padding-right: 20px;

}

.even {
    background-color: #EEF0F5;
}

.odd {
    background-color: #dadce0;
}



/* ---------------- */
/* Skill Page Start */

.skill-box span{
  margin-bottom: 0;
}

.skill-container {
    max-width: 60vw;
}

.skill-box {
    transition: transform 0.15s, box-shadow 0.15s;
}

.skill-box:hover {
    transform: scale(1.3);
}

.skill-box img {
    height: 10vh;
    object-fit: contain;
}

@media (max-width: 768px) {
.skill-box img {
    height: 5vh;
    object-fit: contain;
}
}


.skill-name {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 20px;
}

/* Skill Page End */
/* -------------- */





.carousel-container {
  position: relative;
}

.carousel-item {
  position: relative;
  height: 500px;
}


.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 1;
}

.repeating-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-size: 50%;
  filter: blur(8px);
  z-index: 0;
  pointer-events: none;
}

.education-item div{
  padding-left: 0;
  padding-right: 0;
}

.navbar {
    /* opacity: 0.9; */
    opacity: 1;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    z-index: 3;
}

.nav-link{
    cursor: pointer;    
}

section{
  min-height: 100vh;
  margin: 0;          
  background-color: inherit !important; 

}

.page-title{
  padding-top: 60px; 

}

.lang-icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


.no-bg-change,
.no-bg-change:focus  {
  background-color: inherit !important; 
  box-shadow: none !important;      
}


/* ------ Font Sizes -------- */
/* Mobile */
@media (max-width: 767px) {
  .lead {
    font-size: 1.25rem !important; 
  }
}

/* Tablets and Desktops*/
@media (min-width: 768px){  
  .lead {
    font-size: 1.75rem !important; 
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .memoji-img {
    height: 250px;
    width: auto;   
  }
}

@media (max-width: 767px) { /* mobile devices */
  .memoji-img {
    height: 200px; 
    width: auto;   
  }

  .landing-text{
    font-size: 2em !important;
  }
}

#root-container {
  position: relative; /* stacking context */
}

/* ScrollIndicator */
.scroll-bar-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 12px;
  background: #eee;
  z-index: 2;
}

.scroll-bar-progress {
  width: 100%;
  background: linear-gradient(to bottom, #000, #4b4a4a);
  border-radius: 0 0 6px 6px ;
}