#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.project-card {
    border: 1px solid rgb(33, 37, 41);
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
    transition: transform 0.15s;
}

.project-card:hover {
    transform: scale(1.1);
}

.lead {
    font-size: 1.6em;
}

.project-card h4,
.project-card p {
    color: rgb(33, 37, 41);
}

.interval {
    margin: 10px 0 0 0 !important;
}

.navbar-toggler {
    margin-right: 10px !important;
}

.card-footer {
    margin-top: 15px;
    border-top: 1px solid rgb(33, 37, 41);
}

.project-card p {
    margin-bottom: auto;
}

.image-wrapper {
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-wrapper {
    min-height: 150px;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
}