
#toast-box {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
    flex-direction: column;
    width: 100%;
}

#toast-box .toast {
    width: 100%; 
    max-width: 400px;
    height: 80px;
    color: black;
    display: flex;
    align-items: center;
    padding-right: 10px;
    
    font-weight: 500;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    position: relative;
    animation: fadeIn 0.25s linear forwards, fadeOut 0.25s 2.75s linear forwards;
}


#toast-box .toast::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    animation: anim 3s linear forwards;
}

#toast-box .toast.invalid::after {
    background: orange;
}

#toast-box .toast.valid::after {
    background: green;
}


#toast-box .toast i {
    margin: 0px 10px;
    font-size: 2rem;
}


@media (min-width: 768px) {
    #toast-box {
        top: auto;
        left: auto;
        bottom: 30px;
        right: 30px;
        transform: none;
        width: auto;
        align-items: flex-end; 
    }

    #toast-box .toast {
        width: 300px;
    }
}



